{{extend 'layout.html'}}

<div class="frame">
<h1>{{=T('Charts')}}</h1>

<h2>Activities</h2>
{{=chart_tutorials or T("Nobody registered for tutorials")}}
<p>Nota: no todas las actividades han sido dadas de alta en el mismo momento y la votación no es obligatoria, 
por lo que las preferencias son relativas (solo indican un estimado a grandes rasgos).</p>
<br /><br />
<h2>Attendee Type</h2>
{{=chart_attendee_type}}
<h2>Food Preference</h2>
{{=chart_food_preference}}
<br /><br />
<h2>T-Shirt Size</h2>
{{=chart_t_shirt_size}}
<br /><br />
<h2>Country</h2>
{{=chart_country}}
<br /><br />

<h2>{{=T('State')}}</h2>
{{=chart_state}}
<br /><br />

<h2>{{=T('City')}}</h2>
{{=chart_city}}
<br /><br />

{{if session.manager:}}
<h2>{{=T('Registration date')}}</h2>
{{=chart_registration_date}}
<br /><br />

<h2>{{=T('Certificate')}}</h2>
{{=chart_certificates}}
<br /><br />
{{pass}}


</div>
